@import "./variables/global.scss";
:root {
  ::-webkit-scrollbar {
    width: 5px;
    background: #101124;
  }
  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      45deg,
      var(--border-color),
      var(--primary-color)
    );
  }

  background-size: 100% 200%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes slide {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

body {
  margin: 0;
}
