.title {
  align-self: left;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: fit-content;
  border-radius: 0.25rem;
}

.grid, .rows {
  font-size: 1.5rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.grid:hover,
.rows:hover {
  cursor: pointer;
}
